.container {
  height: 50px;
  background: purple;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.name {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: bold;
}

.logout {
  background: #ffffff;
  padding: 5px 10px;
  color: purple;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.logout:hover {
  background: #ffffff;
}
